@tailwind base;
@tailwind components;
@tailwind utilities;

/* latin */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/figtree-latin-400-normal.woff2) format('woff2'), url(/fonts/figtree-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/figtree-latin-ext-400-normal.woff2) format('woff2'), url(/fonts/figtree-latin-ext-400-normal.woff) format('woff');
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/figtree-latin-500-normal.woff2) format('woff2'), url(/fonts/figtree-latin-500-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/figtree-latin-ext-500-normal.woff2) format('woff2'), url(/fonts/figtree-latin-ext-500-normal.woff) format('woff');
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/figtree-latin-600-normal.woff2) format('woff2'), url(/fonts/figtree-latin-600-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url(/fonts/figtree-latin-ext-600-normal.woff2) format('woff2'), url(/fonts/figtree-latin-ext-600-normal.woff) format('woff');
    unicode-range: U+0100-02AF, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: IBM Plex Sans, Tahome, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
}

body::after {
    content: "";
    position: fixed;
    background: linear-gradient(to bottom, #35274d 0%, #5e353f 100%);
    top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
}

.site {
    max-width: 1024px;
    margin: auto;
}

.with-background {
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-sub {
    display: flex;
    max-width: fit-content;
}

.header-sub a {
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0px;
    justify-content: space-between;
    padding: 0px;
}

.menu li {
    padding: 5px 20px 5px 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

.container {
    padding: 20px;
    max-width: 100%;
}